<!DOCTYPE html>
<html>
    <head>
        {{>header}}
    </head>
<body>
    <link rel="stylesheet" href="./css/style.css">
    <h1>{{ title }} </h1>
    <p> {{ description }} </p>
<img src="https://www.w3schools.com/tags/img_girl.jpg" alt="Girl in a jacket" width="200" height="200">
</body>
{{>footer}}
</html>